// add explanation style
.main {
  position: relative;
  z-index: 997;
}

@keyframes fadeIn { 
  from { opacity: 0; right: -50%; } 
}

.project.selected .explanation-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background: #fff;
  color: #000;
  transition: 2s linear all;
  &.fadeInOut {
    display: block !important;
    right: 0;
    animation: fadeIn 1s alternate;
  }
  .explanation-content {
    position: relative;
    min-height: 100%;
    padding: 15px;
    .action-close {
      position: absolute;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      button.btn-close {
        background: #fff;
        border: none;
        border-radius: 50%;
        padding: 16px;
        transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        i {
          color: #ffd230;
          font-size: 50px;
          text-shadow: 1px 1px 1px #040404;
          transition: .5s;
          -moz-transition: .5s;
          -webkit-transition: .5s;
        }
        &:hover {
          i {
            color: #0a063b;
            text-shadow: 1px 1px 1px #ffd200;

          }
        }
      }
    }
    .content-wrapper {
      position: relative;
      .content-postion {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 80%;
        transform: translateY(-50%);
        .logo-group {
          img {
            height: 36px;
            width: auto;
            padding: 10px;
          }
          span {
            color: #888;
            font-size: 40px;
            line-height: 50px;
            font-weight: bold;
            padding-right: 10px;
            text-shadow: 1px 1px 1px #9E9E9E;
          }
          h4 {
            color: #050743;
            font-size: 22px;
            font-weight: bold;
            padding-right: 10px;
            // text-shadow: 1px 1px 1px #9E9E9E;
          }
        }
        .img-wrapper {
          max-width: 250px;
          margin: 0 auto;
          padding: 10px;
          img {
            padding: 10px;
          }
        }
        .img-wrapper.img-fullwith {
          max-width: 100%;
          padding: 10px;
        }
        .img-wrapper.img-small {
          max-width: 180px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          text-align: justify;
          line-height: 1.5;
        }
        h3 {
          color: #050743;
          font-weight: bold;
          font-size: 28px;
          margin-bottom: 8px;
        }
        ul {
          margin-left: 24px;
          li {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            position: relative;
            list-style-type: decimal;

          }
        }
      }
    }
    .content-fullheight {
      height: 100vh;
    }
    .content-top {
      border-bottom: 1px solid #ffd230;
      height: 50vh;
    }
    .content-bottom {
      height: 50vh;

    }
  }
}

@media screen and (max-width: 768px) {
  .project.selected .explanation-wrapper {
    left: 30px;
     .explanation-content .content-wrapper .content-postion {
      left: 10px;
      width: calc(100% - 20px);
     }
  }
  .project.selected .explanation-wrapper .explanation-content .action-close button.btn-close {
    padding: 12px;
    i {
      font-size: 32px;
    }
  } 
}


@media screen and (max-width: 500px) {
  .project.selected .explanation-wrapper .explanation-content .content-wrapper .content-postion {
    .img-wrapper.img-small {
      max-width: 100px;
    }
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 14px;
    }
    .logo-group {
      h4 {
        font-size: 18px;
      }
      span {
        font-size: 20px;
        line-height: 40px;
        padding: 0 6px;
      }
      img {
        height: 30px;
        width: auto;
        padding: 8px;
      }
    }
  } 
}