
a {
  color: #4c4c4c;
}
a:hover {
  text-decoration: none;
  color: #4c4c4c;
}
.img-fluid {
  width: 100%;
}
ul li {
  list-style-type: none;
}
//-------------
.transtion {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.column-navbar {
  height: auto;
}

// Menu
.lists-page .list-item .close {
  display: none;
}
*,
:before,
:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.masthead {
  position: relative;
  border-top: 8px solid #7ba69b;
}

.masthead-search {
  display: inline-block;
  position: absolute;
  top: -9px;
  right: 0;
}

.masthead-search-toggle {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
  z-index: 10;
  text-indent: -9999px;
  cursor: pointer;
}

.masthead-search-indicator {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;

  cursor: pointer;
  &:before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    margin-top: -18px;
    position: relative;
    top: 50%;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: all 0.35s ease-in-out;
  }
  &:after {
    content: "";
    width: 11px;
    height: 3px;
    display: block;
    position: absolute;
    top: 32px;
    right: 13px;
    background: white;
    -webkit-transform: rotate(48deg);
    -moz-transform: rotate(48deg);
    transform: rotate(48deg);
    transition: all 0.35s ease-in-out;
  }
}

#masthead-search-toggle:checked + .masthead-search-indicator {
  &:before {
    content: "";
    width: 30px;
    height: 2px;
    display: block;
    margin: 0;
    position: absolute;
    top: 28px;
    left: 14px;
    border-radius: 0;
    border: none;
    background: white;
    -webkit-transform: rotate(-47deg);
    -moz-transform: rotate(-47deg);
    transform: rotate(-47deg);
  }
  &:after {
    content: "";
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    top: 28px;
    left: 14px;
    background: white;
    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    transform: rotate(47deg);
  }
}

.masthead-search-search {
  width: 0;
  height: 60px;
  float: right;
  position: relative;
  transition: all 0.4s ease-in-out;
  background-color: rgba(255, 255, 255, 0.95);
  & > * {
    width: 100%;
    height: 100%;
    padding: 8px;
    position: absolute;
    border: none;
    background: none;
    font-size: 14px;
    &:focus {
      outline: none;
    }
  }
}

#masthead-search-toggle:checked + .masthead-search-indicator + .masthead-search-search {
  width: 375px;
  border-radius: 5px;
  height: 54px;
  border: 1px solid #d4d4d4;
}

.isHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  opacity: 0;
}

.dropbtn {
  background-color: #0cc579;
  color: white;
  padding: 0px;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
  color: #0cc579;
}

//edit tab to id

div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  button {
    width: 100%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
}

div.tab button:hover {
  background-color: #08945a;
  color: #fff;
}

div.tab button.active {
  background-color: #0cc579;
  color: #fff;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

// product informations

.products-info {
  padding: 15px;
  .product-image {
    margin: 0;
    overflow: hidden;
  }
}
.add-border-products,
.add-border-products-bottom {
  border: 1px solid #ccc;
}

.orders-products {
  color: #fff;
}
.box-add-customer {
  flex-direction: row;
  width: 100%;
  padding: 15px 10px;
  .icon-user {
    flex: 15%;
    .avatar-user {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

.list-customers ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #0cc579;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-customers ul li:nth-child(odd) {
  background: #fff;
  color: #4c4c4c;
}

.list-customers ul li:hover {
  background: #08945a;
  color: #fff;
}

.list-customers ul li.checked {
  background: #08945a;
  color: #fff;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  color: white;
}

.header-customer {
  flex: 85%;
}

.header-customer:after {
  content: "";
  display: table;
  clear: both;
}

.header-customer input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 85%;
  padding: 10px;
  float: left;
  font-size: 16px;
  background: #fff;
  line-height: 2;
  &:hover {
    border-bottom: 1px solid #ccc;
  }
}

.addBtn {
  padding: 10px;
  width: 15%;
  color: #4c4c4c;
  background: #fff;
  float: left;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  .fa-plus-circle {
    font-size: 20px !important;
    line-height: 1.5;
  }
}

.addBtn:hover {
  background-color: #08945a;
  color: #fff;
}

.box-add-customer,
.column-content-bottom {
  background: #fff;
}

.add-discount-top {
  background: #fff;

  .add-discount {
    padding: 16px 15px;
    border-bottom: 1px solid #ccc;
    .fas {
      font-size: 20px;
    }
  }
}
.total-customer {
  padding: 16px 15px;
  border-bottom: 1px solid #ccc;
}

.total-charge {
  background-color: #0cc579;
  margin-top: 100px;
  border-radius: 5px;
  padding: 16px 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
  .charge-price {
    font-size: 24px !important;
    line-height: 1;
  }
}
// hover img
.grow {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 425px) {
  .active-margin-top {
    margin-top: 100px;
  }
  .products-info{
    padding: 40px;
  }
}
