*{
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page-inventory-product{
  overflow: hidden;
  .category-list-group{
    padding-top: 10px;
    .category-item{
      background: white;
      border-top: 1px solid rgb(212, 212, 212);
      border-bottom: 1px solid rgb(212, 212, 212);
      &>p{
        color: #4c4c4c;
        font-weight: 500;
        font-size: 18px;
        margin: 0;
      }
      &>i{
        padding: 15px 20px 15px 20px; 
        font-size: 30px;
        min-width: 80px;
      }
      &:hover{
        background: #0cc579;
      border-color: #0cc579;
      &>p{
        color: white;
      }
      &>i{
        color: white;     
      }
      }
    }
    .active{
      background: #0cc579;
      border-color: #0cc579;
      &>p{
        color: white;
      }
      &>i{
        color: white;     
      }
    }
  }
  .list-product{
    background: white;
    .product-pic{
      width: 100px;
      height: 100px;
      padding: 20px;
      & img{
        border: 1px solid #4c4c4c;
        width: 60px;
        height: 60px;
        background: #4c4c4c;
        border-radius: 50%;
      }
    }
    .product-detail{
      border-bottom: 1px solid rgb(212, 212, 212);
      .product-info{
        .text{
          line-height: 0.8;
          & p{
            letter-spacing: 0.5px;
            color: #a9a9a9;
          }
          .product-name{
            color: black !important;
            font-weight: 500;
            font-size: 18px;
          }
        }
        .prices{
          span{
            display: inline-block;
            font-size: 18px;
            font-weight: 500; 
          }
          .price-02{
            margin-left: 80px;
          }
          .hide{
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px){
  .page-inventory-product{
    .list-product{
      .product-detail{
        .product-info{
          .text{
            p{
              line-height: initial;
            }
          }
          .prices{
            .wrapper{
              display: flex;
              flex-direction: column;
              .price-02{
                margin-left: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px){
  .page-inventory-product{
    .list-product{
      .product-detail{
        .product-info{
          .prices{
            .wrapper{
              padding-top: 0 !important;
              padding-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
