.transtion {
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}
.page-cash-management {
	.column-content {
		#datetimepicker {}
		.date-time-item {
	    background-color: #fff;
		  text-align: -webkit-match-parent;
      padding: 12px 50px;
		  border-bottom: 1px solid #d4d4d4;
		  a {
		  	color: #4c4c4c;
		  }
		}
		.column-content-inner {
			padding: 20px;
			.sub-title {
		    font-size: 18px;
		    text-align: center;
		    margin: 12px auto;
		    color: #a9a9a9;
			}
			.nav.cash-tabs {
				border: 1px solid #0cc579;
    		border-radius: 6px;
	    	background-color: transparent;
				max-width: 300px;
				margin: 0 auto;
				overflow: hidden;
				li.nav-item {
					a.nav-link {
						border-radius: 0;
				    border: 0;
				    cursor: pointer;
						color: #0cc579;
				    margin: 0;
				    height: 100%;
				    text-align: center;
				    @extend .transtion;
						&.active {
							background-color: #0cc579;
							color: #fff;
						}
						&:hover {
							background-color: rgba(12, 197, 121, 0.6);
							color: #fff;
						}
					}
				}
			}
			.card-wrapper {
				.card-content {
					.drawer-list {
						.drawer-info {
					    color: #a9a9a9;
					    border-top: 1px solid #e6e6e6;
					    padding: 12px 0;
			        min-height: 33px;
    					line-height: 33px;
					    a {
					    	color: #fff;
					    }
						}
					}
				}
			}
		}
	}
}