a {
  color: #4c4c4c;
}

.img-fluid {
  width: 100%;
}

ul li {
  list-style-type: none;
}

.transtion {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}

.column-navbar {
  height: auto;
}

.remove-close span {
  display: none !important;
}

*,
:before,
:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.masthead {
  position: relative;
  border-top: 8px solid #7ba69b;
}

.masthead-search {
  display: inline-block;
  position: absolute;
  top: -9px;
  right: 0;
}

.masthead-search-toggle {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
  z-index: 10;
  text-indent: -9999px;
  cursor: pointer;
}

.masthead-search-indicator {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  cursor: pointer;
}
.masthead-search-indicator:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  margin-top: -18px;
  position: relative;
  top: 50%;
  border-radius: 50%;
  border: 2px solid #ffffff;
  transition: all 0.35s ease-in-out;
}
.masthead-search-indicator:after {
  content: "";
  width: 11px;
  height: 3px;
  display: block;
  position: absolute;
  top: 32px;
  right: 13px;
  background: white;
  -webkit-transform: rotate(48deg);
  -moz-transform: rotate(48deg);
  transform: rotate(48deg);
  transition: all 0.35s ease-in-out;
}

#masthead-search-toggle:checked + .masthead-search-indicator:before {
  content: "";
  width: 30px;
  height: 2px;
  display: block;
  margin: 0;
  position: absolute;
  top: 28px;
  left: 14px;
  border-radius: 0;
  border: none;
  background: white;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  transform: rotate(-47deg);
}
#masthead-search-toggle:checked + .masthead-search-indicator:after {
  content: "";
  width: 30px;
  height: 2px;
  display: block;
  position: absolute;
  top: 28px;
  left: 14px;
  background: white;
  -webkit-transform: rotate(47deg);
  -moz-transform: rotate(47deg);
  transform: rotate(47deg);
}

.masthead-search-search {
  width: 0;
  height: 60px;
  float: right;
  position: relative;
  transition: all 0.4s ease-in-out;
  background-color: rgba(255, 255, 255, 0.95);
}
.masthead-search-search > * {
  width: 100%;
  height: 100%;
  padding: 8px;
  position: absolute;
  border: none;
  background: none;
  font-size: 14px;
}
.masthead-search-search > *:focus {
  outline: none;
}

#masthead-search-toggle:checked + .masthead-search-indicator + .masthead-search-search {
  width: 375px;
  border-radius: 5px;
  height: 54px;
  border: 1px solid #d4d4d4;
}

.isHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  opacity: 0;
}

.dropdown {
  position: relative;
  background-color: #0cc579;
  color: white;
  padding: 0px;
  border: none;
}
.dropdown .set-d-none {
  display: none;
}
.dropdown .set-d-none .list-order-product {
  position: absolute;
  flex-direction: column;
  float: left;
  z-index: 999;
  background-color: #fff;
  padding: 10px 14px;
  margin-top: 10px;
  color: #4c4c4c;
  font-size: 16px;
}
.dropdown ul li a {
  color: #fff;
  padding: 10px 20px 22px 20px;
  cursor: pointer;
}
.dropdown ul li a:hover {
  color: #0cc579;
  background: #fff;
  transition: 0.3s;
}
.dropdown ul li a i {
  padding-right: 20px;
}

.border-radius-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.products:hover .set-d-none {
  display: block;
}
.products:hover .set-d-none .list-order-product a {
  color: #4c4c4c !important;
  padding: 0px 40px;
  font-weight: 300;
}

.list-order-product a:hover {
  background: #08945a !important;
  color: #fff !important;
  transition: 0.3s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
  color: #0cc579;
}

.orders-products {
  color: #fff;
}

.box-add-customer {
  flex-direction: row;
  width: 100%;
  padding: 15px 10px;
}
.box-add-customer .icon-user {
  flex: 15%;
}
.box-add-customer .icon-user .avatar-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.column-content .lists-cahsier ul {
  padding: 0;
  margin: 0;
}
.column-content .lists-cahsier ul li span {
  display: none;
}
.column-content .lists-cahsier ul li a .item-info {
  flex-direction: row;
  overflow: hidden;
}
.column-content .lists-cahsier ul li a .item-info .item-img {
  flex: 10%;
}
.column-content .lists-cahsier ul li a .item-info .item-img .item-icon-box {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.column-content .lists-cahsier ul li a .item-info .container-item {
  flex: 90%;
  line-height: 3;
  padding: 10px 0px;
  padding-right: 20px;
  border-bottom: 1px solid #ccc;
}

.list-customers ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #0cc579;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-customers ul li:nth-child(odd) {
  background: #fff;
  color: #4c4c4c;
}

.list-customers ul li:hover {
  background: #08945a;
  color: #fff;
}

.list-customers ul li.checked {
  background: #08945a;
  color: #fff;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  color: white;
}

.header-customer {
  flex: 85%;
}

.header-customer:after {
  content: "";
  display: table;
  clear: both;
}

.header-customer input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 85%;
  padding: 10px;
  float: left;
  font-size: 16px;
  background: #fff;
  line-height: 2;
}
.header-customer input:hover {
  border-bottom: 1px solid #ccc;
}

.addBtn {
  padding: 10px;
  width: 15%;
  color: #4c4c4c;
  background: #fff;
  float: left;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addBtn .fa-plus-circle {
  font-size: 20px !important;
  line-height: 1.5;
}

.addBtn:hover {
  background-color: #08945a;
  color: #fff;
}

.box-add-customer,
.column-content-bottom {
  background: #fff;
}

.add-discount-top {
  background: #fff;
}
.add-discount-top .add-discount {
  padding: 16px 15px;
  border-bottom: 1px solid #ccc;
}
.add-discount-top .add-discount .fas {
  font-size: 20px;
}

.total-customer {
  padding: 16px 15px;
  border-bottom: 1px solid #ccc;
}

.total-charge {
  background-color: #0cc579;
  margin-top: 100px;
  border-radius: 5px;
  padding: 16px 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
}
.total-charge .charge-price {
  font-size: 24px !important;
  line-height: 1;
}

.grow {
  transition: all 0.3s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .column-content .lists-cahsier ul li a .item-info .item-img {
    flex: 20%;
  }
}
@media only screen and (max-width: 425px) {
  .active-margin-top {
    margin-top: 100px;
  }

  .products-info {
    padding: 40px;
  }

  .column-content .lists-cahsier ul li a .item-info .item-img {
    flex: 15%;
  }
}

/*# sourceMappingURL=cashier-list.css.map */
