@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/helvetica-neue/HelveticaNeueUltraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/helvetica-neue/HelveticaNeue-Thin.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/helvetica-neue/HelveticaNeueLight.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/helvetica-neue/HelveticaNeue-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/helvetica-neue/HelveticaNeueBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/helvetica-neue/HelveticaNeue-Heavy.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/helvetica-neue/HelveticaNeue-Black.otf');
  font-weight: 800;
  font-style: normal;
}
