@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-UltraLigExt.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-ThinExt.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-LightExt.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-MediumExt.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-Extended.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-BoldExt.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-HeavyExt.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-BlackExt.otf');
  font-weight: 800;
  font-style: normal;
}



@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-UltraLigExtObl.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-ThinExtObl.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-LightExtObl.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-MediumExtObl.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-ExtendedObl.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-BoldExtObl.otf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-HeavyExt.otf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLT-BlackExtObl.otf');
  font-weight: 800;
  font-style: normal;
}